	{% extends "blog/base.html" %}

{% block content %}
	{% for ps in post_list %}
<article class="media content-section">
  <img class = "rounded-circle article-img" src = "{{ ps.author.profile.image.url }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ ps.author }}</a>
      <small class="text-muted">{{ ps.date_posted | date:"D F d, Y" }}</small>
    </div>
    <h2><a class="article-title" href="{% url 'post-detail' ps.id %}">{{ ps.title }}</a></h2>
    <p class="article-content">{{ ps.content }}</p>
  </div>
</article>
	{% endfor %}  

{% endblock content %}	